body {
  box-sizing: border-box;
}

/* header navbar start */
#bg-img {
  background-image: url("./assets/bg-img.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#header {
  padding: 1% 6%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1% 6%;
  background-color: black;
}

.nav-logo {
  width: 8%;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  align-items: center;
}

.menu > li {
  list-style-type: none;
}

.menu > li > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.menu a > i > img {
  width: 22px;
}

.visible-for-sm {
  display: none;
}

.main {
  height: 1000px;
}
/* header-navbar end */

/* hero section start */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 100vh;
}

.left-hero {
  width: 50%;
}

.hero-text1 {
  color: #02fee7;
  font-weight: 700;
}

.hero-h1 {
  font-size: 100px;
  font-weight: 900;
  color: white;
}

.hero-text2 {
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0;
}

.hero-btn1 {
  background-image: radial-gradient(
    circle,
    #feb302,
    #f8c600,
    #eed900,
    #e0ec00,
    #cdff05
  );
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5 ease-in;
}

.hero-btn1:hover {
  background-image: radial-gradient(
    circle,
    #eed900,
    #feb302,
    #f8c600,
    #e0ec00,
    #cdff05
  );
}

.hero-btn2 {
  background: radial-gradient(
    circle,
    #feb302,
    #f8c600,
    #eed900,
    #e0ec00,
    #cdff05
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font-weight: 700;
}

.right-hero {
  margin-right: 16px;
  height: 70vh;
}
/* hero secton end */

/* about section start */
.about-content {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
  margin: 30px 20%;
}

.about-img {
  width: 55%;
}

.about-h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.about-h1 > span {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text-wraper > p {
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 500;
  margin: 26px 0;
}

.about-text-wraper > button {
  background-image: radial-gradient(
    circle,
    #feb302,
    #f8c600,
    #eed900,
    #e0ec00,
    #cdff05
  );
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5 ease-in;
}

.about-text-wraper > button:hover {
  background-image: radial-gradient(
    circle,
    #eed900,
    #feb302,
    #f8c600,
    #e0ec00,
    #cdff05
  );
}
/* about secton end */

/* start choose area */
.choose-container {
  margin: 180px 0 10px 0;
}

.main-text {
  color: #feb302;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.main-heading {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  line-height: 60px;
}

.main-heading > span {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.choose-row {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  align-items: center;
  margin-top: 50px;
}

.single-card {
  width: 16%;
}

.choose-row > .single-card > h1 {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 900;
}

.choose-row > .single-card > h1 > span {
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.card-heading {
  display: flex;
  justify-content: start;
  column-gap: 8px;
  align-items: baseline;
}

.card-heading > h1 {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 900;
}

.card-heading > span {
  color: white;
  font-size: 22px;
  font-weight: 800;
}

.single-card > p {
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}
/* end choose area */

/* start projects area */
.project-container {
  margin: 120px 320px 180px 320px;
}

.project-container-main-text {
  color: #feb302;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.project-container-main-heading {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  line-height: 60px;
}

.project-container-main-heading > span {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-container-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.project-container-card {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  width: 100%;
}

.project-container-card > img {
  border-radius: 20px;
}

.project-container-card > div > h1 {
  color: white;
  font-size: 20px;
  font-weight: 900;
  transition: 0.5s ease all;
}

.project-container-card > div > h1:hover {
  color: #feb302;
  cursor: pointer;
}

.project-container-card > div > p {
  color: #d7d7d7;
  font-size: 16px;
  font-weight: 600;
}
/* end projects area */

/* start statistics area */
.statistics-container-main-text {
  color: #feb302;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.statistics-container-main-heading {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  line-height: 60px;
}

.statistics-container-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.statistics-container-flex > div {
  text-align: center;
  padding: 30px 80px;
  background-color: #251a34;
  border-radius: 20px;
}

.statistics-container-flex > div > p {
  background: radial-gradient(
    circle,
    #a66bff,
    #c666ef,
    #dd62df,
    #ee61cf,
    #fb64bf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
}

.statistics-container-flex > div > h1 {
  font-size: 35px;
  font-weight: 700;
  color: white;
}
/* end statistics area */

/* mobile device */
@media (max-width: 575.98px) {
  /* header navbar start */
  #bg-img {
    background-image: none;
    background-color: black;
  }

  .nav-logo {
    min-width: 38%;
  }

  .menu {
    margin-top: 15px;
  }

  .google-logo {
    width: 80%;
    margin-left: 20px;
  }

  .hidden-for-sm {
    display: none;
  }

  .visible-for-sm {
    display: inline-block;
  }

  .visible-for-sm > i > img {
    width: 65%;
  }
  /* header navbar end */

  /* hero section start */
  .hero-section {
    row-gap: 45px;
    flex-direction: column;
    margin-top: 60px;
  }

  .left-hero {
    width: 100%;
  }

  .hero-text1,
  .hero-text2 {
    font-size: 14px;
    margin: 30px 0;
  }

  .hero-h1 {
    font-size: 35px;
  }

  .hero-btn1 {
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 700;
  }

  .right-hero {
    height: 48vh;
    margin: 0 auto;
  }
  /* hero section end */

  /* about section start */
  .about-content {
    flex-direction: column-reverse;
    row-gap: 50px;
    margin: 100px 0%;
  }

  .about-img {
    width: 80%;
  }

  .about-text-wraper {
    width: 90%;
    text-align: justify;
  }

  .about-text-wraper > p {
    font-size: 14px;
  }

  .about-h1 {
    font-size: 21px;
  }
  /* about section end */

  /* start choose area */
  .choose-container {
    margin: 80px 0 10px 0;
  }

  .main-text {
    font-size: 12px;
  }

  .main-heading {
    width: 100%;
    font-size: 20px;
    line-height: normal;
  }

  .choose-row {
    flex-direction: column;
    margin: 30px 0;
  }

  .single-card {
    width: 90%;
  }

  .single-card > p {
    font-size: 14px;
  }

  .card-heading > span {
    font-size: 15px;
    font-weight: 800;
  }

  .card-heading > h1 {
    font-size: 40px;
  }
  /* end choose area */

  /* start projects area */
  .project-container {
    margin: 60px 0;
  }

  .project-container-main-text {
    font-size: 12px;
    font-weight: 600;
  }

  .project-container-main-heading {
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    width: 100%;
  }

  .project-container-flex {
    flex-direction: column;
    gap: 30px;
    margin: 30px 5% 0 5%;
  }

  .project-container-card > div > h1 {
    font-size: 15px;
  }

  .project-container-card > div > p {
    font-size: 14px;
  }
  /* end projects area */

  /* start statistics area */
  .statistics-container-main-text {
    font-size: 12px;
    font-weight: 600;
  }

  .statistics-container-main-heading {
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    width: 100%;
  }

  .statistics-container-flex {
    flex-direction: column;
    margin: 30px 5% 0 5%;
  }

  .statistics-container-flex > div {
    padding: 20px 60px;
  }

  .statistics-container-flex > div > p {
    font-size: 16px;
  }

  .statistics-container-flex > div > h1 {
    font-size: 22px;
  }
}
